body {
    background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
}
h1{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: system-ui;
}
table{
    /*border-style: solid;*/
    /*border-width: 3px;*/
}

td{

    background-color: #aaddfd;
    border-radius: 5px;
    width: 1%;
}
img{
    /*margin-top: 2%;*/
    /*margin-left: 5%;*/
    /*margin-bottom: 5%;*/
    /*border-radius: 5px;*/
    /*width: 30%;*/
    /*!*margin-right: 5%;*!*/
    /*height: auto;*/
    border-radius: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 5% 5% 0% 5%;
}

.back{
    position: fixed;
    height: 100%;
    border-radius: 3px;
    background-color: white;
    margin-left: 20%;
    width: 60%;
}

input{
    margin-top: 2%;
    border-style: none;
    border-radius: 3px;
    border-width: 1px;
    font-family: system-ui;
    background-color: #607fff;
    color: white;
    padding: 5px 7px 5px 7px;
}
label{
    margin-top: 2%;
    font-family: system-ui;

}