body {
    background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
}

div.data_user{
    border-radius: 5px;
    width: 60%;
    margin: 5% 20% 5% 20%;
    padding: 20px 30px 20px 30px;
    height: 75%;
    background-color: white;
}

img.photo_user{
    border-radius: 5px;
    width: 30%;
    height: auto;
}