body {
    background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
}

label {
    color: white;
}

@media only screen and (min-width: 1000px) {
    img.one {
        position: absolute;
        left: 50%;
        width: 50px;
        height: 50px;
    }

    .all {
        /*border-color: white;*/
        /*border-style: solid;*/
        /*border-width: 4px;*/
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 20px;
    }

    .up {
        /*border-color: white;*/
        /*border-style: solid;*/
        /*border-width: 4px;*/
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 20px
    }

    .down {
        /*display: flex;*/
        /*align-items: flex-start;*/
        /*border-width: 4px;*/
        /*border-style: solid;*/
        /*border-color: white;*/
        /*width: 35%;*/
    }

    .left_up {
        /*border-style: solid;*/
        /*border-color: white;*/
        /*border-width: 4px;*/
    }

    .right_up {
        margin-left: 40px;
        margin-right: 20px
        /*border-style: solid;*/
        /*border-color: white;*/
        /*border-width: 4px;*/
        /*width: 100%;*/
        /*float: right;*/
    }

    img.two {
        border-radius: 5px;
        /*margin-left: 20px;*/
        /*margin-right: 20px;*/
        /*margin-bottom: 20px;*/
        /*margin-top: 30px;*/
        width: 150px;
    }

    fieldset {
        position: absolute;
        top: 25%;
        left: 27%;
        /*top: 100px;*/
        /*left: 400px;*/
        border-radius: 10px;
        /*width: 700px;*/
        /*height: 360px;*/
    }

    legend {
        font-family: monospace;
        font-size: 50px;
        margin: 0px auto;
        color: white;
    }

    .error {
        color: white;
    }


    .image-upload > input {
        /*    чтобы кнопка не отоброжалась*/
        display: none;
    }

    input.one {
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        width: 94%;
        /*margin-left: 3%;*/
        margin: 25px 0px 20px 3%;
        padding: 5px 0px 5px 0px;
        /*margin: 0px 20px 20px 13px;*/
        /*padding: 5px 10px 5px 5px;*/
        border-radius: 5px;
        border-style: solid;
        border-color: white;
        color: white;
        font-family: monospace;
        font-size: 16px;
    }

    input.three {
        /*background-image: url("<%=request.getContextPath()%>/resources/background_body.png");*/
        /*position: relative;*/
        /*bottom: 285px;*/
        /*left: 210px;*/
        /*margin: 91px 20px 0px 13px;*/
        /*padding: 5px 10px 5px 5px;*/
        /*border-radius: 5px;*/
        /*border-style: solid;*/
        /*border-color: white;*/
        /*color: white;*/
        /*font-family: monospace;*/
        /*font-size: 16px;*/
    }

    label.one {

        /*border-style: solid;*/
        /*padding: 5px 5px 5px 5px;*/
        /*margin-left: 0px;*/
        /*margin-right: 0px;*/

    }

    div.one {
        /*position: relative;*/
        /*bottom: 459px;*/
        /*left: 460px;*/
        font-family: monospace;
        font-size: 16px;
    }

    input::-webkit-input-placeholder {
        color: white;
    }

    .radio_buttons {
        /*margin-top: -51.5px;*/
        /*margin-left: 20px;*/
        font-size: 16px;
        font-family: monospace;
    }

    .radio_buttons div {
        float: left;
    }

    .radio_buttons input {
        position: absolute;
        left: -9999px;
    }

    .radio_buttons label {
        display: block;
        margin: 25px 0px 20px 0px;
        padding: 5px 20px 5px 16px;
        background-color: white;
        color: black;
        cursor: pointer;
        border-style: solid;
        border-color: white;
        border-width: 2px;
    }

    .radio_buttons input:checked + label {
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        color: white;
    }

    .radio_buttons div:first-child label {
        margin-left: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .radio_buttons div:last-child label {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    input.two {
        /*background-image: url("<%=request.getContextPath()%>/resources/background_body.png");*/
        /*position: relative;*/
        /*bottom: 283px;*/
        /*left: 450px;*/
        /*margin: 0px 20px 20px 30px;*/
        /*padding: 5px 10px 5px 5px;*/
        /*border-radius: 5px;*/
        /*border-style: solid;*/
        /*border-color: white;*/
        /*color: white;*/
        /*font-family: monospace;*/
        /*font-size: 16px;*/
    }

    div.two {
        /*position: relative;*/
        /*bottom: 371px;*/
        /*left: 257px;*/
    }


    select {
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        color: white;
        border-style: solid;
        border-color: white;
        border-width: 2px;
        font-family: monospace;
        font-size: 16px;
        /*    для того чтоб убрать стрелку с select */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px 15px 5px 15px;
        /*margin: 25px 0px 0px 20px;*/
    }

    select:focus {
        /*background-color: white;*/
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        color: white;
    }


    select.one {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin: 25px 0px 0px 0px;
    }

    select.two {
        margin: 25px -10px 0px -9px;
    }

    select.three {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 25px 5px 0px 5px;
    }

    input.button {
        /*position: relative;*/
        /*bottom: 250px;*/
        /*left: 580px;*/
        color: black;
        background-color: white;
        border-style: solid;
        border-color: white;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        margin-left: -1%;
        /*margin-bottom: 10px;*/
        /*margin-left: ;*/
    }

    input.button:hover {
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        color: white;
    }

    .buttons {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: -30px;
    }

    .g-recaptcha {
        margin-left: 38%;
        transform: scale(0.40);
        transform-origin: 0 0;
    }

    .error{
        margin-left: 50%;
        margin-top: 5%;
        font-size: 15px;
        font-family: monospace;
    }
}

@media only screen and (max-device-width: 600px) {

    .image-upload > input {
        /*    чтобы кнопка не отоброжалась*/
        display: none;
    }

    img.one {
        display: block;
        margin: 0px auto;
        width: 100px;
        height: 100px;
        padding-bottom: 20px;
    }

    legend {
        font-family: monospace;
        font-size: 50px;
        margin: 0px auto;
        color: white;
    }

    fieldset {
        margin-top: 30%;
        position: relative;
        border-radius: 10px;
        /*расширить границы*/
        /*margin-bottom: 30px;*/
    }

    img.two {
        border-radius: 5px;
        /*margin: 30px 20px 20px 20px;*/
        width: 400px;
    }

    .up {
        margin-top: 30px;
        /*border-style: solid;*/
        /*border-width: 5px;*/
        /*border-color: white;*/
        display: flex;
        align-items: flex-start;
    }

    .left_up {
        /*border-style: solid;*/
        /*border-width: 5px;*/
        /*border-color: white;*/
        /*width: 100px;*/
        /*float: left;*/
    }

    .right_up {
        /*border-style: solid;*/
        /*border-width: 5px;*/
        /*border-color: white;*/
        width: 100%;
        /*float: right;*/
    }

    input.one {
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        width: 96%;
        margin: 20% 0% 2% 2%;
        /*margin: 0px 20px 20px 13px;*/
        padding: 5px 10px 5px 5px;
        border-radius: 5px;
        border-style: solid;
        border-color: white;
        font-family: monospace;
        font-size: 40px;
        color: white;
    }

    .down {
        /*display: flex;*/
        /*align-items: flex-start;*/
        /*/ margin-top: -15%;*/
    }

    .bottom_image {
        display: flex;
        align-items: flex-start;
    }

    .email {
        width: 47%;
        float: right;
        margin-right: 2%;
    }

    .radio_buttons {
        /*margin-top: -51.5px;*/
        /*margin-left: 20px;*/
        margin-top: 13.5%;
        font-size: 45px;
        font-family: monospace;
    }

    .radio_buttons div {
        float: left;
    }

    .radio_buttons input {
        position: absolute;
        left: -9999px;
    }

    .radio_buttons label {
        display: block;
        margin: 25px 0px 20px 0px;
        padding: 4px 20px 3px 16px;
        background-color: white;
        color: black;
        cursor: pointer;
        border-style: solid;
        border-color: white;
        border-width: 2px;
    }

    .radio_buttons input:checked + label {
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        color: white;
    }

    .radio_buttons div:first-child label {
        margin-left: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .radio_buttons div:last-child label {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    input::-webkit-input-placeholder {
        font-family: monospace;
        color: white;
    }

    select {
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        color: white;
        border-style: solid;
        border-color: white;
        border-width: 2px;
        font-family: monospace;
        font-size: 45px;
        /*    для того чтоб убрать стрелку с select */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px 15px 5px 15px;
        /*margin: 25px 0px 0px 20px;*/
    }

    select:focus {
        /*background-color: white;*/
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        color: white;
    }


    select.one {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin: 25px 0px 0px 0px;
    }

    select.two {
        margin: 25px -10px 0px -9px;
    }

    select.three {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 25px 5px 0px 5px;
    }

    .g-recaptcha {
        margin-top: -7%;
        float: right;
        /*margin-left: 38%;*/
        transform: scale(0.90);
        transform-origin: 0 0;
    }

    input.button {
        /*position: relative;*/
        /*bottom: 250px;*/
        /*left: 580px;*/
        color: black;
        font-size: 40px;
        background-color: white;
        border-style: solid;
        border-color: white;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        margin-left: 35%;
        margin-top: 5%;
        font-family: monospace;
        /*margin-left: ;*/
    }

    input.button:hover {
        background-image: url("<%=request.getContextPath()%>/resources/background_body.png");
        color: white;
    }

    .buttons {
        /*display: flex;*/
        /*align-items: flex-start;*/
        /*margin-top: 20px;*/
        /*margin-bottom: -30px;*/
    }

    .error{
        margin-left: 30%;
        margin-top: 20px;
        font-size: 30px;
        font-family: monospace;
    }
}