<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/error_404.jsp</location>
    </error-page>
    <error-page>
        <!-- реагирует на всё-->
        <exception-type>java.lang.Throwable</exception-type>
        <location>/pages/error/error_500.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <!--    <servlet-mapping><font></font>-->
    <!--        <servlet-name>AuthorizationController</servlet-name><font></font>-->
    <!--        <url-pattern>/home</url-pattern><font></font>-->
    <!--    </servlet-mapping>-->
    <!--    <Context antiResourceLocking="false" privileged="true" >-->
    <!--        <Valve className="org.apache.catalina.valves.RemoteAddrValve"-->
    <!--               allow="127\.\d+\.\d+\.\d+|::1|0:0:0:0:0:0:0:1" />-->
    <!--    </Context>-->
</web-app>